.wrapper {
  height: calc(100vh - 50px);
  padding: 5px;
}

.wrapper .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 300px;
  gap: 20px;
  padding: 20px;
}

.wrapper .inner-wrapper .card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .inner-wrapper .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper .inner-wrapper .card .card-body span {
  font-weight: bold;
  font-size: 16px;
}

.wrapper .inner-wrapper .card .card-body span:first-of-type {
  font-size: 22px;
}
