.wrapper {
  position: relative;
  height: 100%;
}

.wrapper .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  min-height: 350px;
}

.wrapper .inner-wrapper .list-group {
  position: relative;
  display: grid;
  grid-template-rows: 75px 1fr;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  transition: all 0.2s;
  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.wrapper .inner-wrapper .list-group:hover {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);
}

.wrapper .inner-wrapper .city {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faebd7;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.wrapper .inner-wrapper .text {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #ffffff;
}

.wrapper .inner-wrapper .temperature {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 30px;
  color: #ffffff;
}

.wrapper .inner-wrapper .undo {
  text-align: center;
  border: 2px solid #ffffff;
  background-color: #faebd7;
  cursor: pointer;
}

.wrapper .inner-wrapper .undo .fa.fa-undo:hover {
  color: #a9a9a9;
}

@media screen and (max-width: 1200px) {
  .wrapper .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .inner-wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper .inner-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .wrapper .inner-wrapper .list-group {
    max-height: 300px;
  }
}
