.wrapper {
  position: relative;
  height: 100%;
}

.wrapper .inner-wrapper {
  display: flex;
  height: 50%;
}

.wrapper .inner-wrapper .card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  min-width: 150px;
  padding: 0px;
  cursor: pointer;
  background-color: #f8f7f7f7;
  box-shadow: -1rem 0 3rem #a9a9a9;
  transition: 1s;
  margin: 0px 5px;
}

.wrapper .inner-wrapper .card:hover {
  transform: scale(1.2);
}

.wrapper .inner-wrapper .card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.wrapper .inner-wrapper .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1 !important;
}

.wrapper .inner-wrapper .card .card-body .list-group .list-group-item:first-of-type {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}

.wrapper .inner-wrapper .card .card-body .list-group .list-group-item:last-of-type {
  font-size: 50px;
  text-shadow: 3px 2px #a9a9a9;
}

@media screen and (max-width: 600px) {
  .wrapper .inner-wrapper {
    flex-direction: column;
  }
}
