<div class="wrapper">
    <div class="inner-wrapper">
        <div class="card" *ngFor="let item of favoritesList" (click)="selectItem(item)">
            <div class="card-header">
                <h2>{{ item?.LocalizedName}}</h2>
            </div>

            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">{{ item.WeatherText }}</li>
                    <li class="list-group-item">{{ item.Temperature.Metric.Value }}&deg;</li>
                </ul>
            </div>
        </div>
    </div>
</div>