<form [formGroup]="customForm" class="custom-form">
    <div class="ng-autocomplete">
        <span class="search-icon"><i class="fa fa-search "></i></span>
        <ng-autocomplete class="ng-autocomplete-input" [data]="autocompletedList" formControlName="LocalizedName"
            [searchKeyword]="customForm.controls['keyword'].value" (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
            focusFirst="true" [notFoundTemplate]="notFoundTemplate" placeholder="Enter location name..">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.LocalizedName"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div *ngIf="autocompletedList.length < 1" [innerHTML]="notFound" [style]="{ color: 'red' }"></div>
        </ng-template>
    </div>
</form>