:host {
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.wrapper .data {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 60%;
  z-index: 1;
  margin-bottom: 20px;
  border-radius: 20px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
}

.wrapper .data::after {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 100% 20px 20px 20px;
  z-index: -1;
}

.wrapper .data .city,
.wrapper .data .day,
.wrapper .data .date,
.wrapper .data .time {
  color: #ffffff;
  text-align: start;
  padding: 0px 1.25rem;
}

.wrapper .data .city {
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 1px;
}

.wrapper .data .day,
.wrapper .data .date {
  font-size: 35px;
}

.wrapper .data .day,
.wrapper .data .date {
  font-size: 35px;
}

.wrapper .data .time {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: auto;
  padding: 1.25rem;
}

.wrapper .data .time .clock-icon {
  padding-right: 10px;
}

.wrapper .data .list-group:nth-of-type(2) {
  justify-content: center;
  align-items: center;
}

.wrapper .data .image .image-icon {
  height: 130px;
  filter: drop-shadow(5px 5px 5px #222);
  padding: 0px 1.25rem;
}

.wrapper .data .text {
  font-size: 40px;
  letter-spacing: 3px;
  color: #ffffff;
  padding: 0px 1.25rem;
}

.wrapper .data .list-group:nth-of-type(3) {
  justify-content: space-between;
}

.wrapper .data .list-group:nth-of-type(3) .list-group-item:first-of-type {
  display: flex;
  align-items: center;
}

.wrapper .data .btn.btn-dark {
  width: 95%;
  border-width: 2px;
}

.wrapper .data .btn.btn-dark:hover {
  border-color: #fff;
  border-style: solid;
}

.wrapper .data .heart-icon {
  flex-grow: 1;
  padding: 0 10px;
  color: #ff0000;
}

.wrapper .data .temperature {
  font-size: 125px;
  font-weight: bold;
  color: #ffffff;
}

.wrapper .data .units {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}

.wrapper .data .units .unit:first-of-type {
  border-right: 1px solid #fff;
}

.wrapper .data .units .unit {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: normal;
  cursor: pointer;
  transition: 1s;
}

.wrapper .data .units .unit.active {
  color: #fff;
  font-weight: bold;
}

.wrapper .data .units .unit:hover {
  transform: scale(1.2);
}

.wrapper .forecast {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
}

.wrapper .forecast::after {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 100% 20px 20px 20px;
}

.wrapper .forecast .list-group {
  justify-content: space-around;
}

.wrapper .forecast .day {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #faebd7;
  letter-spacing: 1px;
}

.wrapper .forecast .image {
  padding: 0px 1.25rem;
  text-align: center;
}

.wrapper .forecast .image .image-icon {
  height: 75px;
  filter: drop-shadow(5px 5px 5px #222);
}

.wrapper .forecast .temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faebd7;
}

.wrapper .forecast .temperature .max,
.wrapper .forecast .temperature .min {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 20px;
}

.wrapper .forecast .temperature .max {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .wrapper .data {
    grid-template-columns: 2fr 1fr;
    height: 50%;
  }

  .wrapper .data .list-group:first-of-type {
    height: 60%;
    margin-top: auto;
  }

  .wrapper .data .city {
    font-size: 45px;
  }

  .wrapper .data .day,
  .wrapper .data .date {
    font-size: 25px;
  }

  .wrapper .data .time {
    font-size: 18px;
  }

  .wrapper .data .temperature {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 65px;
  }

  .wrapper .data .list-group:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper .forecast .list-group .list-group-item {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .wrapper .forecast .day {
    font-size: 30px;
  }

  .wrapper .forecast .image .image-icon {
    height: 50px;
  }

  .wrapper .data .text {
    position: absolute;
    transform: translateX(100%);
    font-size: 25px;
  }

  .wrapper .forecast .temperature .min,
  .wrapper .forecast .temperature .max {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .data .city {
    font-size: 32px;
  }

  .wrapper .data .date,
  .wrapper .data .day {
    font-size: 20px;
  }

  .wrapper .data .text {
    transform: translate(60%, 100%);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .data {
    width: 90%;
    height: 60%;
    margin: 0 auto;
  }

  .wrapper .data .city {
    font-size: 25px;
  }

  .wrapper .data .date,
  .wrapper .data .day {
    font-size: 18px;
  }

  .wrapper .data .time {
    font-size: 14px;
    padding: 12px 0px 12px 12px;
  }

  .wrapper .data .text {
    font-size: 18px;
  }

  .wrapper .data .list-group:last-of-type .list-group-item:first-of-type {
    width: 235px;
  }

  .wrapper .data .btn.btn-dark {
    font-size: 14px;
  }

  .wrapper .forecast {
    background: none;
    box-shadow: none;
  }

  .wrapper .forecast::after {
    background: none;
  }

  .wrapper .forecast .day {
    font-size: 18px;
  }

  .wrapper .forecast .temperature .min,
  .wrapper .forecast .temperature .max {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper .data .image {
    padding: 0.25rem 2rem 0 0.25rem;
  }

  .wrapper .data .text {
    font-size: 16px;
    transform: translateX(70%);
  }
}
