<div class="wrapper" *ngIf="currentConditions.length > 0 && currentConditions && fiveDaysForecasts['DailyForecasts'] ">
    <div class="data">
        <ul class="list-group">
            <li class="list-group-item city">
                {{ showLocalizedCity }}
            </li>

            <li class="list-group-item day">
                {{ currentConditions[0]?.LocalObservationDateTime | date: 'EEEE'}}
            </li>

            <li class="list-group-item date">
                {{ currentConditions[0]?.LocalObservationDateTime | date: 'shortDate'}}
            </li>

            <li class="list-group-item time">
                <i class="fa fa-clock-o clock-icon"></i>
                Refreshed at {{ currentConditions[0]?.LocalObservationDateTime | date: 'h:mm:ss a' }}
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item image">
                <img class="image-icon" *ngIf="currentConditions[0]?.IsDayTime"
                    src="../../../../../../assets/icons/{{ fiveDaysForecasts['DailyForecasts'][0]?.Day?.Icon > 8 ? fiveDaysForecasts['DailyForecasts'][0]?.Day?.Icon : '0' + fiveDaysForecasts['DailyForecasts'][0]?.Day?.Icon }}-s.png"
                    alt="{{ fiveDaysForecasts['DailyForecasts'][0]?.Day?.Icon }}">

                <img class="image-icon" *ngIf="!currentConditions[0]?.IsDayTime"
                    src="../../../../../../assets/icons/{{ fiveDaysForecasts['DailyForecasts'][0]?.Night?.Icon > 8 ? fiveDaysForecasts['DailyForecasts'][0]?.Night?.Icon : '0' + fiveDaysForecasts['DailyForecasts'][0]?.Night?.Icon }}-s.png"
                    alt="{{ fiveDaysForecasts['DailyForecasts'][0]?.Night?.Icon }}">
            </li>

            <li class="list-group-item text">
                {{currentConditions[0]?.WeatherText }}
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-heart fa-2x heart-icon" aria-hidden="true"></i>
                <button type="button" class="btn btn-dark" (click)="addToFavorites()">{{ found ? 'Remove from ' : 'Add
                    to' }} favorites</button>
            </li>

            <li class="list-group-item temperature">
                {{ displayCurrentUnit | number: '1.0-0' }}&deg;
            </li>

            <li class="list-group-item units">
                <a href="javascript:void(0)" (click)="toggleUnit('c')" class="unit"
                    [ngClass]="isShowMetric ? 'active' : null ">&deg;{{currentConditions[0]?.Temperature?.Metric?.Unit}}</a>

                <a href="javascript:void(0)" (click)="toggleUnit('f')" class="unit"
                    [ngClass]="!isShowMetric ? 'active' : null ">&deg;{{currentConditions[0]?.Temperature?.Imperial?.Unit}}</a>
            </li>
        </ul>
    </div>

    <div class="forecast">
        <ul class="list-group" *ngFor="let item of fiveDaysForecasts['DailyForecasts']">
            <li class="list-group-item day">
                {{ item?.Date | date: 'EEEE' | slice: 0:3 }}
            </li>

            <li class="list-group-item image">
                <img class="image-icon" *ngIf="currentConditions[0]?.IsDayTime"
                    src="../../../../../../assets/icons/{{item?.Day?.Icon > 8 ? item?.Day?.Icon : '0' + item?.Day?.Icon }}-s.png"
                    alt="{{item?.Day?.Icon}}">

                <img class="image-icon" *ngIf="!currentConditions[0]?.IsDayTime"
                    src="../../../../../../assets/icons/{{item?.Night?.Icon > 8 ? item?.Night?.Icon : '0' + item?.Night?.Icon }}-s.png"
                    alt="{{item?.Day?.Icon}}">
            </li>

            <li class="list-group-item temperature">
                <span class="min">
                    {{ item.Temperature?.Minimum?.Value | temperatureConverter: isShowMetric ? 'C' : 'F' }}&deg;
                </span>
                -
                <span class="max">
                    {{ item.Temperature?.Maximum?.Value | temperatureConverter: isShowMetric ? 'C' : 'F' }}&deg;
                </span>
            </li>
        </ul>
    </div>
</div>