.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 50px);
}

.wrapper .search {
  position: relative;
  display: flex;
  margin: 1rem;
}

.wrapper .info {
  position: relative;
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
}
