.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 5px 0px;
}

.wrapper .search {
  display: flex;
  margin-top: 10px;
  height: 10%;
}

.wrapper .info {
  position: relative;
  flex-grow: 1;
  display: flex;
  margin-top: 20px;
}
