<div class="wrapper">
    <div class="input-group">
        <span class="search-icon"><i class="fa fa-search "></i></span>
        <input type="text" #valueRef class="form-control" (click)="toggleDropdownList()" (keyup)="searchItem($event)"
            [ngStyle]="{'color' : autocompletedList.length < 1 ? '#ff0000' : '#333'}"
            [value]="this.selectedLocation ? this.selectedLocation.LocalizedName : autocompletedList.length < 1 ? 'No results found..' : ''"
            list=" autocompletedList" autofocus placeholder="Press any key... ">
    </div>

    <div class="state-container-dropdown" *ngIf="showDropdownList"
        [ngStyle]="{'border' : autocompletedList.length < 1 ? '0px' : '1px solid #ccc'}">
        <div class="state" *ngFor="let item of autocompletedList;">
            <a class=" state-item" (click)="selectItem(item)"> {{ item?.LocalizedName }}</a>
        </div>
    </div>
</div>


<!-- <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div> -->