.navbar {
  max-height: 50px;
}

.navbar .wrapper .navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 15px;
}

.navbar .wrapper .navbar-nav .nav-item > .nav-link {
  padding: 0 20px;
}
